@charset "utf-8";
/* CSS Document */
body{font-family: "Arial","Microsoft YaHei",Tahoma,Helvetica,sans-serif,"黑体","宋体";width: 100%;height: 100%;}
a,a:link,a:active,a:hover,a:visited{text-decoration: none;color: inherit;}
ul,li{list-style: none;padding: 0;margin: 0;}


/*header*/
header{width:100%; height:60px; position: fixed;top:0; z-index:999;background: #333; }
.header{position: relative;height: 60px;}
.logo{float: left;margin: 0; line-height: 60px;}
.logo img{height: 28px;}
.logo_txt{line-height: 60px;color: #FFFFFF;font-size: 20px;}
nav ul{float:right;font-size: 0;}
.nav-menu{border-right: 1px solid #999;}
.nav-menu li{display: inline-block;line-height: 60px;margin: 0 10px;}
.nav-menu li a{color:#fff; color: #fff;text-align: center; font-weight: bold; font-size: 16px;  padding:0 15px;display: block;height: 60px;}

.nav-person{float: right;}
.nav-login{padding-left: 15px;line-height: 60px;}
.nav-login .btn-default a{color: #555;}
.nav-login .btn-success a{color: #FFFFFF;}
.user-name{padding-right:15px;float: left;font-size: 18px; color: #eee;font-weight: bold;}
.model {position: absolute;top: 0;left: 0;width:100%;height:100%;z-index:1000;padding-top: 200px;}
.message{color: red;font-size: 14px;margin: 10px 0;display: block;}
.form{width: 350px;padding: 40px; margin: 10vh auto;background: rgba(255,255,255,0.9);}
.form_main{background: rgba(255,255,255,0.7);height: 100vh;width: 100%;padding: 100px;}
.img_main{width: 100px;height: 150px;overflow: hidden;text-align: center;line-height: 150px;display: inline-block;}
.title {white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.tit_form{color:#222;text-align: left;font-size: 20px; margin-bottom: 20px;padding-bottom:10px;border-bottom: 3px solid #4cae4c;}
.info_detail{margin:2px 0 0 40px}
.grout_list{background: rgba(255,255,255,0.8);padding: 40px;border-radius: 5px;}
.list_li{margin-bottom: 15px;text-align: center;}
.m_r_s{margin-right: 20px;}
.m_t_m{margin-top: 30px;}
.m_t_s{margin-top: 15px;}
.m_b_m{margin-bottom: 30px;}
.m_b_s{margin-bottom: 15px;}
.m_l_m{margin-left: 30px;}
.m_l_s{margin-left: 15px;}
.float_l{float: left;}
.thumbnail .list-img{height: 150px;overflow: hidden;margin-top: 15px;}
.typeBtn button{min-height: 34px;}
.plan_list{border: 1px solid #CCCCCC;background:#FFFFFF;border-radius: 4px;margin-top: 3px;padding:0 15px;height:46px;line-height:46px;font-size: 18px;cursor: pointer;}
.plan_list_done{opacity: 0.7;}
.line-through{text-decoration: line-through;}
.item_plan{display: inline-block;width:95%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 10px;}
.plan_list.active,.plan_list.active input{background: #e1f2fe;}
.fade-enter-active,
.fade-leave-active {transition: opacity .5s}
.fade-enter,
.fade-leave-active {opacity: 0}
.task-list li {
	word-break: break-all;
}
.message {
	padding-top: 0px;
	padding-left: 15px;
}
.slide-fade-enter-active,
.slide-fade-leave-active {
  transition: all .3s ease;
}
.slide-fade-enter, .slide-fade-leave-active {
  transform: translateX(10px);
  opacity: 0;
}
.labelforlist{margin-bottom: 0;width: 100%;min-height: 46px;}
.checkboxInput{vertical-align: top;}
input[type=checkbox] {
	width: 24px;
	height: 24px;
	appearance: none;
	-webkit-appearance: none;
	background: #FFFFFF;
	border: 1px solid #999999;
	border-radius: 4px;
	margin-top: 10px;
	cursor: pointer;
}

input[type=checkbox].nochecked{
	appearance: checkbox;
	-webkit-appearance:checkbox;
	opacity: 0.5;
}
.fixedEdit{width: 400px;height:100%;background:#FFFFFF;position: fixed;right: 0;top: 0;border-left: 1px solid #ddd;z-index: 999;padding: 15px;box-shadow: 0 0 15px rgba(0,0,0,0.3);}
.fixedEdit .fa{font-size: 28px;font-weight: lighter;cursor: pointer;vertical-align: text-top;}
.fixedEdit .delete{float: right;}
.editMain textarea.form-control:focus{border-color: #DDDDDD;box-shadow: none;}
.editMain{border-bottom: 1px solid #DDDDDD;}
.editText{line-height: 28px;font-size: 18px;padding: 0;border:none;margin-top: 9px;min-height:46px;height:100%;width:100%;max-width:100%;box-shadow: none;border-color: transparent;border:none;text-align: justify;}
.item_plan::selection {
    background-color: transparent ;
}

.item_plan::-moz-selection {
    background-color: transparent ;
}

.item_plan::-webkit-selection {
    background-color: transparent ;
}

.divtextarea{
	width: 400px; 
    min-height: 120px; 
    max-height: 300px;
    _height: 120px; 
    margin-left: auto; 
    margin-right: auto; 
    padding: 3px; 
    outline: 0; 
    border: 1px solid #a0b3d6; 
    font-size: 12px; 
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    _overflow-y: visible;
}